{% extends 'base.html' %}

{% block title %}
Courses Lesson
{% endblock title %}


{% block body %}
<div>

    <div style="
        width:100%;
        height:400px;
        background-image: url({{object.coverImg.url}});
        background-size: 100% auto;
        background-position: center center;
        background-color: rgba(22, 1, 56, 0.5);
        background-blend-mode: multiply;
        background-repeat:no-repeat;
        ">  
        <div class="h1 text-white text-capitalize d-flex justify-content-center align-items-center " style="height:inherit">
            {{object.title}}
        </div>

    </div>
    <div class="container-md">
        <nav class="my-3 border-bottom" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'courses:index' %}" style="text-decoration: none;">Courses</a></li>
              <li class="breadcrumb-item active" aria-current="page"><a href="{{object.course.get_absolute_url}}" style="text-decoration: none;">{{object.course.title}}</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{object.title}}</li>
            </ol>
        </nav>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
 
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
        </nav>
        <div>
            <div>by: {{object.author}}</div>
            <div class="h4 py-2">Objectives</div>
            <div>{{object.description}}</div>
            <div class="py-2" style="width:100%">{{object.video_link|safe}}</div>
            <div class="h4">{{object.title}}</div>
            <div>{{object.main_content|linebreaks|safe}}</div>
        </div>
    </div>
</div>



{% endblock body %}