{% extends 'base.html' %}

{% block title %}
Courses Lesson
{% endblock title %}


{% block body %}
<div>
    <div class="container-md">
      <nav class="my-3 border-bottom" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'courses:index' %}" style="text-decoration: none;">Courses</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="{{object.course.get_absolute_url}}" style="text-decoration: none;">{{object.course.title}}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{object.title}}</li>
        </ol>
      </nav>
        <div class="row">
          <div class="col-lg-4 col-12 mb-4">
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action h4" aria-current="true">
                Lessons
              </a>
              {% for item in weeks %}
            
              {% if item.id == obj_id %}
              <a href="{{item.lesson.get_absolute_url}}" class="list-group-item list-group-item-action active">{{item.lesson}}</a>
              {% else %}
              <a href="{{item.lesson.get_absolute_url}}" class="list-group-item list-group-item-action ">{{item.lesson}}</a>
              {% endif %}

              {% for test in item.test.all %}
                <a href="{{test.get_absolute_url}}" class=" list-group-item list-group-item-action">{{test.title}}</a>
              {% endfor %}

              {% endfor %}
              
            </div>
          </div>
          <div class="col">
            <header>
              <div class="rounded" style="
                width:100%;
                height:400px;
                background-image: url({{object.coverImg.url}});
                background-size: 100% auto;
                background-position: center center;
                background-color: rgba(22, 1, 56, 0.5);
                background-blend-mode: multiply;
                background-repeat:no-repeat;
                ">  
              </div> 
            </header>
            <div class="h3 text-dark text-capitalize border-bottom py-4" >
              {{object.title}}
            </div>
            <div>by: {{object.author}}</div>
            <div class="h4 py-2">Objectives</div>
            <div>{{object.description}}</div>
            <div class="py-2" style="width:100%">{{object.video_link|safe}}</div>
            <div class="h4">{{object.title}}</div>
            <div>{{object.main_content|linebreaks|safe}}</div>
          </div>
        </div>
    </div>
</div>



{% endblock body %}